body, #main{
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height:100vh;
    min-width: 100vw;
    min-height:100vh;
    overflow: hidden;
    background-color: #f5e8e8;
}

#main{
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    margin-top: 30px;
}

#bio{
    border-bottom: 2px double gray;
}

#bio #img-div{
    flex: 1;
}

#bio p#tribute-info{
    flex: 3;
}

#bio #image{
    display: block;
    width: 50%;
    max-width: 100%;
    margin: 0 auto;
    border: 1px dotted rgb(114, 80, 39);
    border-radius: 100%;
}

#img-caption{
    margin: 0 auto;
    width: 30%;
    text-align: center;
    background-color: salmon;
}

section{
    display: flex;
}

@media only screen and (max-width: 500px) {
    section{
       flex-direction: column;
    }
  }