body,
#main {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: #f5e8e8;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#title {
    margin-top: 30px;
}

#bio {
    border-bottom: 3px double gray;
    padding: 20px 0;
    align-items: center;
}

#bio #img-div {
    flex: 1;
}

#bio p#tribute-info {
    flex: 3;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

#bio #image {
    display: block;
    width: 50%;
    max-width: 100%;
    margin: 0 auto;
    border: 1px dotted rgb(114, 80, 39);
    border-radius: 100%;
}

#img-caption {
    margin: 6px auto;
    width: 40%;
    text-align: center;
    background-color: #eab9b4;
    font-size: 19px;
    padding: 4px;
}

section {
    display: flex;
    width: 70vw;
}

#books,
#socialLinks {
    justify-content: space-between;
}

#books>h2,
#socialLinks>h2 {
    padding-left: 40px;
    flex: 1;
    font-size: 20px;
}

#books>ul,
#socialLinks>ul {
    padding-right: 15px;
    flex: 5;
}

#socialLinks>ul>li {
    list-style-type: none;
    padding: 5px 0;
}

#socialLinks>ul>li>a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 500px) {
    section {
        flex-direction: column;
    }
}