.calanedar-container {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
  width: 351px;
  height: 357px;
  border: 0.5px dotted transparent;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center;

  .year {
    display: flex;
    max-width: 0 auto;
    padding: 0;
    margin: 0;

    .year-number {
      display: none;
      font-size: 1px;
    }

    &:nth-of-type(17n+0) {
        //background-color: red;
        margin-bottom: 10px;
      }    

  }


  ul {
    margin: 0;
    padding: 0;
    list-style-type: none !important;

    li {
      margin: 0;
      padding: 0;

    }
  }

  .weeks-in-year {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    .week {
      // &:first-of-type{
        border-left: 0.2px solid transparent;
      // }
      border-right: 0.2px solid transparent;
      width: 4.5px;
      height: 4px;
      font-size: 4px;
      border-radius: 100%;
      margin: 0;
      padding: 0;
      margin-right:0.5px;

      .week-number {
        display: inline;
        font-size: 4px;
        padding: 0;
      }
    }
  }
}
