<!-- <p>week-calendar works!</p>

<button (onclick)="generateWeeks(2054)">Generate</button> -->

<div>
    <ul class="calanedar-container">
        <li *ngFor="let year of generatedWeeks.years" class="year">
            <p class="year-number">{{year.year}}</p>
            <ul class="weeks-in-year">
                <li *ngFor="let week of year.weeks" class="week">
                    <p class="week-number">{{week.weekNumber | number: '2.0-0'}}</p>
                </li>
            </ul>
        </li>
    </ul>    
</div>
